<!-- <ul>
    <li *ngFor="let item of data" class="item">
      <strong>{{ item.name }}</strong>: {{ item.age }}
    </li>
  </ul>
  
{{data}}

<br><br>
<button (click)="sendMessage()">Send Message</button>  A gomb aktiválja az üzenet küldésé->
<br><br> -->


<!-- ------------------ promptos --------------------------------------------
{{data|json}}
<div class="container">
    -- Új adat hozzáadása --
    <div class="add-new">
      <input [(ngModel)]="newName" placeholder="Név" />
      <input [(ngModel)]="newAge" placeholder="Életkor" type="number" />
      <button (click)="addNewData()">Hozzáadás</button>
    </div>
  
    -- Táblázat a meglévő adatokat --
    <table>
      <thead>
        <tr>
          <th>Név</th>
          <th>Életkor</th>
          <th>Akciók</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of data; let i = index">
          <td>{{ person.name }}</td>
          <td>{{ person.age }}</td>
          <td>
            <button (click)="editData(i)">Szerkesztés</button>
            <button (click)="deleteData(i)">Törlés</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
 ---------------------promptos vége --------------------------------  -->

<!-- 
<div class="container bg-warning py-4">
  <div>
    <h2 class="text-center fw-bold">Adatok kezelése</h2>

    -- Új adat hozzáadása --

    <div class="row g-3 my-3">
      <input class="p-2 mx-2 form-control col" #nameInput [(ngModel)]="newName" placeholder="Új név" />
      <input class="form-control col" #ageInput [(ngModel)]="newAge" type="number" placeholder="Új életkor" />
      <button class="btn btn-primary col" (click)="addData(newName, newAge)">Hozzáadás</button>
    </div>
    <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>

    -- Lista megjelenítése --
    <table class="table table-stiped">
      <thead>
        <tr class="row  bg-successs border">
          <th class="col">Név</th>
          <th class="col">Életkor</th>
          <th class="col">Műveletek</th>
        </tr>
      </thead>
      <tbody >
        <tr class="row" *ngFor="let person of data; let i = index">
          <td class="col">
            <input class="form-control" [(ngModel)]="person.name" />
          </td>
          <td class="col">
            <input class="form-control" [(ngModel)]="person.age" type="number" />
          </td>
          <td class="col btn-group d-flex">
            <button class="btn btn-success flex-fill " (click)="updateData(i, person)">Frissítés</button> 
            <button class="btn btn-danger flex-fill" (click)="deleteData(i)">Törlés</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<hr>
<div class="container bg-warning p-5">
  <div>
    <h2 class="text-start fw-bold">Adatok kezelése (CRUD műveletek tanulmány)</h2>

    <!-- Új adat hozzáadása -->
    <div class="row g-3">
      <div class="col-3">
        <input class="form-control" [(ngModel)]="newName" placeholder="Új név" />
      </div>
      <div class="col-2">
        <input class="form-control" [(ngModel)]="newAge" type="number" placeholder="Új életkor" />
      </div>
      <div class="col">
        <button class="btn btn-primary p-1" (click)="addData( newName, newAge)"><i class="bi bi-database-add"></i> Hozzáadás <i class="bi bi-plus"></i></button>
      </div>
    </div>
    <p *ngIf="errorMessage" class="text-danger fw-bold fs-5">{{ errorMessage }}</p>

    <!-- Lista megjelenítése -->
    <div class="row g-3 mt-3 ">
      <!-- <div class="col-12"> -->
        <div class="d-flex flex-column">

          <div class="row ">
            <div class="col-3">
              <strong>Név</strong>
            </div>
            <div class="col-3">
              <strong>Életkor</strong>
            </div>
            <div class="col-6">
              <strong>Műveletek</strong>
            </div>
          </div>

          <div class="row mb-3" *ngFor="let person of data; let i = index" >
            <div class="col-3">
              <input [(ngModel)]="person.name" class="form-control" />
            </div>
            <div class="col-3">
              <input [(ngModel)]="person.age" type="number" class="form-control" />
            </div>
            <div class="col-6 d-flex justify-content-start">
              <button class="btn btn-success  p-1 me-1" style="width: 90px;" (click)="updateData(i, person)"><i class="bi bi-pencil"></i> Frissítés</button>
              <button class="btn btn-danger  p-1 " style="width: 90px;" (click)="deleteData(i)"><i class="bi bi-trash"></i> Törlés</button>
            </div>
          </div>

        </div>
      <!-- </div> -->
    </div>
  </div>
  <p class="fst-italic small">Vámosi László, Angular: 2024-12-08, Laravel + MySQL: 2024-12-20</p>
  <hr>
  <!-- <p>node server.js: {{apiurl}}</p> -->
  <div style="background: #f0f0f0; padding: 10px; border: 10px solid #ccc; font-family: monospace;">
    <pre>{{ data | json }}</pre>
  </div>
  
</div>
