
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Webshop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
            <li *ngFor="let menu of links" class="nav-item">
              <a class="nav-link" [routerLink]="menu.link">{{menu.text}}</a>
            </li>
  
  
            <li  class="nav-item dropdown">
              <button (click)="dropClose = !dropClose" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{lang}}
              </button>
              <ul [(ngbCollapse)]="dropClose" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><button (click)="setLang('hu')" class="dropdown-item" >Magyar</button></li>
                <li><button (click)="setLang('en')"  class="dropdown-item">English</button></li>
  
              </ul>
            </li>
  
          </ul>


