<div class="card" >
   
    <div class="card-body">
      <h5 class="card-title">Reset Password</h5>
        <ng-container *ngIf="!emailSent; else elkuldve">
            <div class="form-floating mb-3">
                <input type="email" [(ngModel)]="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="input-group mb-3">
                <button  type="button" (click)="forgotPassword()" class="btn btn-primary">Send mail</button>
            </div>
        </ng-container>
        <ng-template #elkuldve>
            <div class="alert alert-success" role="alert">
                Email sent!
              </div>
        </ng-template>
      
      <div class="input-group mb-3">
         <button  type="button" routerLink="/signin" class="btn btn-primary">Log In</button>
      </div>

      <!-- <div *ngIf="mailRegError" class="alert alert-danger" role="alert">
        {{mailRegText}}
      </div> -->
 


    </div>
  </div>